/************************************/
/* CSS Dokumentation: w3schools.com */
/************************************/


/* Beispiel import Schriftart */
/* @import url('https://fonts.googleapis.com/css?family=Lato'); */
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,800');

/* Standardanweisungen */

/* *{
	margin: 0;
} */

body {
	/* font-family: "Lato", "Helvetica", "Arial", sans-serif; */
	font-family: 'Nunito', sans-serif;
	font-size: 1.0em;
	line-height: 1.0; /* Für Lesbarkeit editieren !*/
	color: #424242;
	font-weight: 300;
	/* background-color: #eaeaea; */
}



/* Typografische style-Attribute vgl. w3-schools

font-style
font-size
font-weight
line-height
text-decoration
letter-spacing
padding
margin
color

*/


/* Mediaqueries */

.container{
	margin-left: 10px;
	margin-right: 10px;
}

h1{
	font-size: 2em;
	/* margin: 0; */
	margin-bottom: 10px;
	font-weight: 300;
}

h2{
	font-size: 1.25em;
	/* color: #3a3a3a; */
	color: #424242;
	margin-bottom: 20px;
	font-weight: 300;
}

p{
	line-height: 1.5em;
	/* color: #424242; */
}

html[lang="de"] q { quotes: "»" "«" }
q:lang(de) { quotes: "»" "«" }

q{
	font-weight: 400;
}

.animation{
	position: relative;
	width: 100%;
}

.highlight{
	/* position: absolute; */

	position: relative;
	font-weight: 800;
	padding: 10px 25px;
	display: block;
	animation-name: yellowAnimation;
	animation-duration: 20s;
	animation-iteration-count:infinite;
	z-index: 9;
	/* color: #393e46; */
	/* font-style: italic; */
}

.blackAndYellow{
	display: block;
	position: absolute;
	background-color: #424242;
	animation-name: blackAnimation;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	height: 100%;
	z-index: 2;
}

@keyframes blackAnimation{
	0%{
		width: 0
	}
	25%{
		width: 0
	}
	30%{
		width: 100%;
	}
	80%{
		width: 100%;
	}
	85%{
		width: 0;
	}
}

@keyframes yellowAnimation{
	35%{
		color: #424242;
	}
	36%{
		color: #eef103;
	}
	75%{
		color: #eef103;
	}
	76%{
		color: #424242;
	}
}

@media screen and (min-width: 35.625em) { /* entspricht >= 570px @16px */
	.container{
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	h1{
		font-size: 3em;
		margin: 0;
		margin-bottom: 20px;
	}

	h2{
		margin: 0;
		font-size: 1.5em;
		margin-bottom: 30px;
		/* color: #848484; */
	}
}

@media screen and (min-width: 64em) { /* entspricht > 1024px @16px */
	.container{
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}

	h1{
		font-size: 4em;
		margin: 0;
		margin-bottom: 20px;
	}

	h2{
		margin: 0;
		font-size: 1.75em;
		margin-bottom: 30px;
		/* color: #848484; */
	}

	p{
		/* margin-bottom: 2em; */
		margin-bottom: 1.25em;
		font-size: 1.125em;
		line-height: 1.5em;
	}
}


