/************************************/
/* CSS Dokumentation: w3schools.com */
/************************************/


/* Beispiel import Schriftart */
@import url('https://fonts.googleapis.com/css?family=Lato');


/* Standardanweisungen */

body {
	line-height: 1.5;
	width: 65%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: "Helvetica", "Lato", "Arial", sans-serif;
	font-size: 1.0em;
	letter-spacing: 1px;
	color: DimGray;
	background-color:  rgb(202, 229, 253);
}
#monopoly {
	width: 200px;
	height: auto;
	float: left;
}
#money {
	width: 200px;
	height: auto;
	float: left;
}
#auto {
	width: 200px;
	height: auto;
	float: left;
}
p {
	text-align: left;
}

.hidden{
	display: none;
}
.background{
	background-color: rgb(252, 252, 252);
	padding: 20px;
	display: flex;
}
.headline {
	padding-left: 20px;
	background: rgb(255, 255, 255);
}
/* Typografische style-Attribute vgl. w3-schools

font-style
font-size
font-weight
line-height
text-decoration
letter-spacing
padding
margin
color

*/


/* Mediaqueries */

@media screen and (min-width: 35.625em) { /* entspricht >= 570px @16px */
	.background {
		border: 1px solid rgb(15, 9, 75);
	}
body{
	padding: 20px;
}
}

@media screen and (min-width: 64em) { /* entspricht > 1024px @16px */
.hidden{
	display: block;
}
}
