/************************************/
/* CSS Dokumentation: w3schools.com */
/************************************/


/* Beispiel import Schriftart */
@import url('https://fonts.googleapis.com/css?family=Lato');


/* Standardanweisungen */

body {
	font-family: 'Playfair Display', serif;
	font-family: 'Noto Serif JP', serif;
	/* font-family: "Helvetica", "Lato",  "Arial", sans-serif; 		Seine Schrift*/  
	font-size: 1.0em;
	line-height: 1.4; /* Für Lesbarkeit editieren !*/
	margin-top:3%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:0%;
	
}

h1 {text-align: center;}

h2 {text-align: right; font-size: 100%; margin:0;}

h3 {margin-left:20%; font-size:100%; font-weight: normal;}  /* Regieanweisung*/ 

h4 {text-align: center; color:#6495ED;  font-size: 100%;  font-style:bold;} /* Junge*/

h5 {text-align: center; color:#B22222;  font-size: 100%;  font-style:bold; margin:0px;} /* Kanguru*/

h6 {text-align: center; color:#006400;  font-size: 100%;  font-style:bold; } /* Ich Erzähler*/

p {margin-left:10%;} /* Do not use!!!*/

b { /* font-size: 1.0em; */ font-style:bold; } /*FETT*/



i {text-align: center;  font-style: normal; color:#B22222;  font-size: 100%; line-height:1; } 



em {}


.klassenbezeichner {}
#id {}

/* Typografische style-Attribute vgl. w3-schools

font-style
font-size
font-weight
line-height
text-decoration
letter-spacing
padding
margin
color

*/


/* Mediaqueries */

@media screen and (min-width: 35.625em) { /* entspricht >= 570px @16px */

}

@media screen and (min-width: 64em) { /* entspricht > 1024px @16px */

}


